/* ==============================
    リセットCSS
============================== */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ==============================
    フロートの解除
============================== */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ==============================
    全体設計
============================== */

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.05em
}

a {
  text-decoration: none;
  color: #2a2a2a;
  letter-spacing: 0.05em
}

a:hover {
    color: #0cb59b;
}

li {
    list-style: none;
}

/* ==============================
    ボタン設定
============================== */
.btn {
    background-color: #0cb59b;
    font-size: 15px;
    line-height: 27px;
    border-radius: 5px;
    padding: 34px 16px;

    transition: background .3s;
}

.btn:hover {
    filter: brightness(120%)

}

/* ==============================
    ヘッダー
============================== */
header {
    height: 342px;
}

.header-inner {
    width: 1260px;
    height: 220px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.header-logo {
    padding-top: 74px;
}

.header-logo:hover {
    opacity: 0.7;
}

.header-navi-top-line {
    position: absolute;
    top:0;
    right: 328px;
    width: 1px;
    height: 84px;
    background-color: #0cb59b;
}

.header-navi {
    float: right;
}

.header-navi ul li {
    float: left;
    writing-mode:vertical-rl;
    padding-left: 64px;
}

.header-navi ul li:first-child a {
    color: #0cb59b
}


/* ==============================
    メイン
============================== */

.main {
    height: 536px;
    position: relative;
    z-index: 2;
}

.swiper-container {
    height: 536px;
}  

.main_message {
    writing-mode:vertical-rl;
    margin-left: 16%;
    position: absolute;
    top: -110px;
    z-index: 100;
}

.main_message h2 {
    font-family: 'Noto Serif JP', serif;
    font-size: 73px;
    font-weight: normal;
    line-height: 102px;
    opacity: 0.9;
}

.main_message span {
    padding-right: 20px;
    display: inline-block;
}

.main_message p {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
}

.main-contact {
    writing-mode:vertical-rl;
    position: absolute;
    top: -52px;
    right: 0;
    z-index: 100;
}

.main-right a {
    color: white;
}

.circle_recruit {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    text-align: center;
    background-color: white;
    padding: 12px 12px;
    position: absolute;
    right: 58px;
    bottom: 64px;
}

.main-recruit p {
    font-size: 14px;
    line-height: 25px;
    padding-top: 34px;
}

.main-recruit h3 {
    font-size: 20px;
    line-height: 8px;
    font-weight:400;
}

/* ==============================
    ニュース
============================== */

.news_inner {
    max-width: 830px;
    display: flex;
    margin: 120px auto 0;
}

.news_inner .heading {
    width: 156px;
    height:282px;
}

.news_inner .heading  h3 {
    border-bottom: 2px solid #0cb59b;
    font-family: 'Overpass', sans-serif;
    font-size: 22px;
    line-height: 40px;
    display: inline-block;
}

.news_inner .description {
    width:calc(100% - 156px);
}

.description ul li {
    font-size: 14px;
    line-height: 22px
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px dashed gray;
    margin-bottom: 20px;
}

.date {
    font-family: 'Overpass', sans-serif;
     font-size: 15px;
     font-weight: 600;
     line-height: 27px
}

.topics {
    font-family: 'Overpass', sans-serif;
    font-size: 11px;
    color: #0cb59b;
    line-height: 11px;
    border: 1px solid #0cb59b;
    padding: 5px;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
}

.description .more {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 13px;
    line-height: 23px;
}

.yajirushi {
    display: inline-block;
    padding-right: 16px;
}

/* ==============================
    ビジネス
============================== */

.business_inner {
    display: flex;
    padding-top: 140px;
    align-items: center;
    margin-bottom: 180px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.business_inner::before {
    content:'';
    background: url(type-fill-business.png) no-repeat;
    position: absolute;
    top: 80px;
    left: 48%;
    opacity: 0.8;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-size: 1000px, 300px;
    display: inline-block;
}

.business_image {
    width: 50%;
    overflow: hidden;
    z-index: 20;
}

.business-letter {
    box-sizing: border-box;
    width: 50%;
    padding: 0 10% 0;
    text-align: left;
    z-index: 100;
}

.business-letter h3 {
    font-size: 36px;
    line-height: 50px;
    opacity: 0.8;
}

.business-letter p {
    font-size: 14px;
    line-height: 31px;
    opacity: 0.9;
    margin-top: 50px;
}

.business_inner::after {
    content:'';
    background: url(type-line-business.png) no-repeat;
    position: absolute;
    top: 74px;
    left: 48.5%;
    opacity: 0.8;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-size: 1000px, 300px;
    display: inline-block;
}

.business_contents {
    display: inline-block;
    margin-top: 40px;
    color: white;
    padding: 24px 96px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    z-index: 100;
}


/* ==============================
    リクルート
============================== */
.recuruit {
    height: 840px;
    background:url(main-visual02_pc.jpg) no-repeat;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    display: flex;
    padding-top: 166px;
    text-align: center;
}

.recuruit .heading {
    box-sizing: border-box;
    width: 34%;
    padding: 0 10% 0;
}

.recuruit .heading h2 {
    writing-mode:vertical-rl;
    opacity: 0.9;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 70px;
}

.recuruit .heading p {
    font-size: 14px;
    line-height: 31px;
    opacity: 0.9;
    margin-top: 50px;
}

.recuruit-info {
    display: inline-block;
    margin-top: 60px;
    color: white;
    padding: 26px 64px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}

.persons {
    width: 66%;
}

/* ==============================
    ワークス
============================== */
.works {
    height: 1634px;
    text-align: center;
    overflow: hidden;
}

.works .heading h2 {
    opacity: 0.9;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 70px;
}

.works .heading p {
    padding-top: 10px;
    color: #0cb59b;
}

.example {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo img {
    width: 558px;
} 

.photo {
    margin-top: 100px;
    padding: 50px; 
    position: relative;
}

.photo_description {
    box-sizing: border-box;
    width: 470px;
    padding: 40px 0px 0px 34px;
    position: absolute;
    top: 388px;
    right: 50px;
    background-color: white;
    border-top: 2px solid #0cb59b;
    text-align: left;
}

.photo_description img {
    width: 34px;
}

.photo_description a {
    padding-top: 20px;
    display: inline-block;
}

.look-more {
    text-align: right;
    font-size: 13px;
}

.look-more img {
    padding-right: 10px;
}

.works-info {
    display: inline-block;
    margin-top: 120px;
    color: white;
    padding: 18px 96px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}
/* ==============================
    コンタクト
============================== */
.contact {
    height: 560px;
    background-color: #F7F7F7;
}

.contact-wrapper {
    padding-top: 100px;
    display: flex;
    justify-content:center;
    text-align: center; 
}

.contact-box {
    width: 420px;
    height: 356px;
    background-color: white;
    margin-right: 2px;
}

.contact-heading {
    padding-top: 70px;
}

.contact-heading h1 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 400;
}


.contact-heading p {
    padding-top: 6px;

    display: inline-block;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}

.contact-heading p span {
    border-bottom: 2px solid #0cb59b;
    display: inline-block;
    padding-bottom: 38px;
 }


.contact-text {
    padding-top: 50px;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

.tel {
    width: 580px;
    height: 356px;
    background-color: white;
    margin-left: 2px;
}


.tel h1 {
    padding-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
}

.tel img {
    padding-right: 10px;
}

.tel p {
    padding-top: 10px;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

.contact-us {
    display: inline-block;
    margin-top: 40px;
    color: white;
    padding: 18px 136px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}

/* ==============================
    フッター
============================== */
footer {
    height: 346px;
}

.footer-inner {
    padding:90px 100px;
    display: flex;
    justify-content:space-between;
}

.footer-adress {
    margin-top: 30px;
}

.footer-adress p {
    font-size: 14px;
    line-height: 25px;
}

.footer-navi ul li {
    float: left;
    writing-mode:vertical-rl;
    padding-left: 44px;
}

.footer-navi ul li:nth-child(6) {
    padding-left: 94px;
}

.footer-navi ul li:first-child a {
    color: #0cb59b;
}

.footer-c p {
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
}
